<% project_ids = surface.items.flat_map(&:context_refs).filter_map do |ref|
     type = ref["type"] || ref[:type]
     id = ref["id"] || ref[:id]
     id if type == "project"
   end.uniq %>
<% surface_projects = Project.where(id: project_ids).index_by(&:id) %>

<section id="surface_plane"
         class="relative mt-14 grid flex-1 gap-5 md:grid-cols-12"
         data-surface-target="plane"
         data-surface-id="<%= surface.id %>"
         data-surface-intention="<%= surface.current_intention %>">
  <% surface.items.each do |item| %>
    <% dominant = item.item_key == surface.focus_item_id %>
    <% project_ref = item.context_refs.find { |ref| (ref["type"] || ref[:type]) == "project" } %>
    <% project_id = project_ref && (project_ref["id"] || project_ref[:id]) %>
    <% context_project = surface_projects[project_id.to_i] if project_id %>
    <% renderer = SurfaceRenderers::Registry.fetch(item.renderer) %>
    <% behaviours = item.relationships.map { |relationship| relationship["behaviour"] || relationship[:behaviour] }.uniq %>

    <article class="surface-item transition-all duration-500 <%= dominant ? 'md:col-span-8' : 'md:col-span-4' %>"
             data-surface-target="item"
             data-item-key="<%= item.item_key %>"
             data-depth="<%= item.depth %>"
             data-renderer="<%= item.renderer %>"
             data-behaviours="<%= behaviours.join(' ') %>">
      <%= render renderer[:partial], item: item, context_project: context_project, dominant: dominant %>
    </article>
  <% end %>
</section>
